@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
}

:root{
    --bodyBg: #100916;
    --footerBg: #100916d5;
    --accentPink: #A738FF;
    --accentPink05: rgba(165, 56, 255, 0.5);
    --accentBlue: #00A3FF;
    --accentBlue05: rgba(0, 162, 255, 0.5);
    --border: #3A2E51;
    --softText: #D196FF;
    --inputBg: rgba(217, 217, 217, 0.05);
    --miniPlayerColor: rgba(26, 21, 34, 0.7);
    --playerDominantColor: white;
    --settingsTopColor: #50417046;
    --settingsBordersColor: rgba(80,80,80, 0.35);
}

body{
    overflow: hidden;
}

img{
    background-size: cover;
    object-fit: cover;
}

/* ----- REUSABLE CLASSES ----- */

.accentButton{
    border-radius: 50px;
    padding-block: 15px;
    color: white;
    border: none;
    background: linear-gradient(45deg, var(--accentBlue), var(--accentPink));
    text-align: center;
    text-decoration: none;
}

.textButton{
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
}

.songHolder{
    max-width: 100%;
    padding-inline: 15px;
    padding-block-start: 15px;
    display: flex;
    overflow-x: scroll;
    width: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
}

.songSegment{
    display: flex;
    flex-direction: column;
    gap: 5px;
    scroll-snap-align: center;
}

.songHolder .song{
    width: 345px;
    padding-inline-start: 8px;
    padding-inline-end: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--border);
    padding-block: 13px;
    border-radius: 10px;
    align-items: center;
}

.songHolder .song img{
    width: 32px;
    height: 32px;
}

.songHolder .song .songInfo h3{
    font-size: 15px;
    font-weight: 400;
}

.songHolder .song .songInfo h5{
    font-weight: 300;
    font-size: 10px;
}

.songHolder .song .songInfo{
    display: flex;
    gap: 10px;
    line-height: 14px;
}

.songHolder .song button{
    height: 24px;
    width: 24px;
}

.songHolder .song button img{
    width: 100%;
    height: 100%;
}

.artists{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

.recommendedArtists{
    padding-inline: 23px;
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    padding-bottom: 130px;
    display: flex;
    gap: 24px;
    max-width: 100%;
    overflow-x: scroll;
    padding-top: 7px;
    scrollbar-width: none;
}

.recommendedArtists .artist{
    width: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.recommendedArtists .artist img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 2px solid white;
    outline-offset: 5px;
    filter: brightness(1.4);  
}

.recommendedArtists .artist h3{
    font-size: 11px;
    font-weight: 600;
}

/* ----- HOME ----- */

body{
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bodyBg);
    color: white;
}

.topHomeGradient{
    position: absolute;
    top: -28vh;
    left: -28vh;
    width: 50vh;
    height: 45vh;
    filter: blur(140px);
    z-index: -1;
    background-color: var(--accentPink);
    border-radius: 50%;
}

.discover{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

header{
    display: flex;
    gap: 10px;
    padding-inline: 15px;
    padding-block-start: 15px;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}

header img{
    width: 28px;
    aspect-ratio: 1/1;
    filter: brightness(1.2);
}

header h1{
    color: white;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -1px;
}

.featuredHolder{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-inline: auto;
    width: calc(100vw - 29px);
    justify-content: center;
    position: relative;
}

.featuredHolder > h3{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}

.buttonHolder{
    position: absolute;
    left: 0;
    top: 23px;
    height: 140px;
    align-items: center;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttonHolder button{
    position: relative;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 5px rgb(0,0,0,0.35);
    outline: 2px solid transparent;
    transition: outline .2s ease-in-out, box-shadow .2s ease-in-out;
    z-index: 10;
}

.buttonHolder button:hover{
    outline-color: var(--accentBlue);
    box-shadow: none;
}

/* .featuredSlider{
    width: 100%;
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 4px 0 var(--accentBlue);
    text-align: center;
    position: relative;
    overflow: hidden;
} */

.featuredSlider{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 0 var(--accentBlue);
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 1px;
    background-color: var(--accentBlue);
}

/* .featuredSlider img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
} */

.featuredSlider img{
    width: 100%;
    height: 100%;
    /* border-radius: inherit; */
    scroll-snap-align: center;
}

.featuredPlayButton{
    font-size: 11px;
    font-weight: 600;
    color: white;
    background-color: var(--accentBlue);
    padding-block: 2px;
    width: 100px;
    border-radius: 0 0 15px 15px;
    margin-inline: auto;
    margin-top: 2px;
    letter-spacing: 1px;
}

.featured{
    margin-top: 20px;
    width: 100%;
    padding-left: 15px;
}

.featured h3{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}

.playlistHolder{
    display: flex;
    gap: 14px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.playlistHolder .playlist{
    height: 200px;
}

.playlistHolder .playlist img{
    height: 162px;
    border-radius: 12px;
    width: 124px;
}

.playlistHolder .playlist h5{
    font-size: 10px;
    font-weight: 600;
}

.playlistHolder .playlist h6{
    font-size: 8px;
    font-weight: 500;
}

.miniPlayer{
    padding-inline: 8px;
    padding-block: 11px;
    padding-right: 15px;
    background-color: var(--miniPlayerColor);
    display: flex;
    margin-inline: 7px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 14px);
    max-width: calc(100% - 14px);
    bottom: 68px;
    border: 1px solid var(--border);
    z-index: 10;
    box-shadow: 0 80px 50px 55px var(--bodyBg);
}

.miniPlayer div:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.miniPlayer .songCover{
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.miniPlayer .songInfo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.miniPlayer .songInfo h5{
    font-size: 10px;
    font-weight: 400;
}

.miniPlayer .songInfo h3{
    font-size: 13px;
    font-weight: 500;
}

.miniPlayer .songButtonHolder{
    display: flex;
    gap: 15px;
    height: 26px;
}

.songButtonHolder button{
    border-radius: 50%;
}

.miniPlayer .songButtonHolder img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

footer{
    position: fixed;
    bottom: -1px;
    left: 0;
    display: flex;
    padding-block-end: 15px;
    padding-block-start: 15px;
    justify-content: space-around;
    width: 100%;
    background-color: var(--footerBg);
    z-index: 11;
    border-top: 1px solid var(--settingsBordersColor);
}

footer button{
    height: 30px;
}

footer button img{
    width: 30px;
    aspect-ratio: 1/1;
}

footer button.chosen img{
    filter: drop-shadow(0 0 5px var(--accentBlue));
}

.settings{
    background-color: var(--bodyBg);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left .35s ease-in-out;
    z-index: 9;
}

.in{
    left: 0;
}

.settings img{
    width: 100px;
    aspect-ratio: 1/1;
}

body:has(.settings.in){
    overflow-y: hidden;
}

main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    transition: opacity .35s ease-in-out, transform .3s ease-in-out;
}

main.in{
    transform: translateX(0);
}

body:has(.settings.in) main{
    opacity: 0;
    transform: translateX(-40%);
    pointer-events: none;
}

.settings .topDiv{
    padding-inline: 15px;
    padding-block: 10px;
    background-color: var(--settingsTopColor);
    display: flex;
    border-bottom: 1px solid var(--settingsBordersColor);
    gap: 15px;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.settings .topDiv h2{
    font-size: 20px;
    font-weight: 600;
}

.settings .topDiv button{
    width: 30px;
    height: 30px;
}

.settings .topDiv img{
    width: 100%;
    aspect-ratio: 1/1;
}

.settingsContent{
    margin-inline: 15px;
    padding-top: calc(env(safe-area-inset-top) + 16px);
    padding-bottom: 180px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.settings .profile{
    margin-inline: auto;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-inline: 5px;
    padding-block-end: 18px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--settingsBordersColor);
}

.settings .profile img:nth-child(1){
    width: 35px;
    border-radius: 50%;
    height: 35px;
    outline: 2px solid white;
    outline-offset: 3px;
}

.settings .profile h2{
    font-size: 20px;
    font-weight: 600;
}

.settings .profile h3{
    font-size: 12px;
    font-weight: 300;
}

.settings .profile .profileButton{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
}

.themes{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--settingsBordersColor);
}

.themes > h3{
    font-weight: 600;
    font-size: 18px;
}

.themes > div{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.theme{
    text-align: center;
}

.theme img{
    width: 85%;
    aspect-ratio: 1/2;
}

.theme h3{
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}

.theme input{
    width: 30px;
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    appearance: none;
    border: 1px solid white;
    background-color: var(--settingsBordersColor);
    display: grid;
    place-content: center;
    margin-inline: auto;
    color: white;
}

.theme input::after{
    content: "";
    width: 1.1em;
    height: 1.1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 15%, 75% 0, 45% 70%);
    transition: all .2s ease-in-out;
    background-color: none;
}

.theme input:checked::after{
    background-color: white;
}

.logOutButton{
    display: block;
    margin-inline: auto;
    margin-top: 30px;
    border-radius: 8px;
    padding-inline: 25px;
    padding-block: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--accentPink);
    color: white;
    box-shadow: 0 2px 10px var(--accentPink05);
}

.search{
    position: fixed;
    width: 100%;
    top: 0;
    left: 100%;
    height: 100%;
    background-color: #100916;
    z-index: 8;
    transition: left .35s ease-in-out;
    max-height: 100vh;
    max-width: 100vw;
}

.search.in{
    left: 0;
}

body:has(.search.in){
    overflow-y: hidden;
}

body:has(.search.in) main{
    transform: translateX(-40%);
    pointer-events: none;
    opacity: 0;
}

.out{
    left: -100%;
}