@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
}

:root{
    --bodyBg: #100916;
    --footerBg: #100916d5;
    --accentPink: #A738FF;
    --accentPink05: rgba(165, 56, 255, 0.5);
    --accentBlue: #00A3FF;
    --accentBlue05: rgba(0, 162, 255, 0.5);
    --border: #3A2E51;
    --softText: #D196FF;
    --inputBg: rgba(217, 217, 217, 0.05);
    --miniPlayerColor: rgba(26, 21, 34, .85);
    --playerDominantColor: white;
    --settingsTopColor: #43395a46;
    --settingsBordersColor: rgba(80,80,80, 0.35);
    --blurFilter: blur(5px);
    --blurHomeFilter: blur(140px);
    --profileImage: url("");
    --playerTop: calc(100% - 122px);
    --playerBg: url("");
    --playerBgDirection: 360deg;
    --playerHueRotate: hue-rotate(-30deg);
    --dominantColor1: rgba();
    --dominantColor2: rgba();
}

body{
    overflow: hidden;
}

img{
    background-size: cover;
    object-fit: cover;
}

/* ----- REUSABLE CLASSES ----- */

.accentButton{
    border-radius: 50px;
    padding-block: 15px;
    color: white;
    border: none;
    background: linear-gradient(45deg, var(--accentBlue), var(--accentPink));
    text-align: center;
    text-decoration: none;
}

.textButton{
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
}

.songHolder{
    max-width: 100%;
    padding-inline: 15px;
    padding-block-start: 15px;
    display: flex;
    overflow-x: scroll;
    width: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
}

.songSegment{
    display: flex;
    flex-direction: column;
    gap: 5px;
    scroll-snap-align: center;
}

.songHolder .song{
    width: 280px;
    padding-inline-start: 8px;
    padding-inline-end: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--border);
    padding-block: 8px;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.songClickDiv{
    position: absolute;
    width: 85%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    left: 0;
}

.songHolder .song .songInfo{
    position: relative;
}

.songHolder .song .songInfo > div{
    margin-block: auto;
}

.songHolder .song .songInfo > img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.song .visualizer{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    gap: 1px;
    align-items: center;
    opacity: 0;
    transition: all .2s ease-in-out;
    transition-behavior: allow-discrete;
}

.song .visualizer span{
    width: 5px;
    border-radius: 3px;
    height: 6px;
    background-color: white;
    transition: all .2s ease-in-out;
}

.song .visualizer.in{
    opacity: 1;
    display: flex;
    @starting-style{
        opacity: 0;
    }
}

.song .visualizer > span:nth-child(1){
    animation: visualizerAnimation1 5s 0s ease-in-out infinite;
}

.song .visualizer > span:nth-child(2){
    animation: visualizerAnimation2 5s .1s ease-in-out infinite;
}

.song .visualizer > span:nth-child(3){
    animation: visualizerAnimation3 5s .2s ease-in-out infinite;
}

.song .visualizer > span:nth-child(4){
    animation: visualizerAnimation4 5s .3s ease-in-out infinite;
}

@keyframes visualizerAnimation1 {
    0%{height: 28px;}
    3%{height: 6px;}
    7%{height: 6px;}
    18%{height: 6px;}
    22%{height: 28px;}
    100%{height: 28px;}
}

@keyframes visualizerAnimation2 {
    0%{height: 20px;}
    1%{height: 20px;}
    3%{height: 6px;}
    14%{height: 6px;}
    16%{height: 20px;}
    100%{height: 20px;}
}

@keyframes visualizerAnimation3 {
    0%{height: 12px;}
    2%{height: 12px;}
    3%{height: 6px;}
    10%{height: 6px;}
    11%{height: 12px;}
    100%{height: 12px;}
}

@keyframes visualizerAnimation4 {
    0%{height: 6px;}
    4%{height: 28px;}
    8%{height: 6px;}
    11%{height: 6px;}
    100%{height: 6px;}
}

.song .visualizer > div{
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: all .2s ease-in-out;
    transition-behavior: allow-discrete;
}

.song .visualizer > div span{
    height: 22px;
}

.song .visualizer.pause > div{
    opacity: 1;
    display: flex;
    @starting-style{
        opacity: 0;
    }
}

.song .visualizer.pause > span{
    opacity: 0;
}

.songHolder .song .songInfo h3{
    max-height: 14px;
    font-size: 15px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.songHolder .song .songInfo h5{
    font-weight: 300;
    font-size: 10px;
    max-width: 150px;
    max-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.songHolder .song .songInfo{
    display: flex;
    gap: 10px;
    line-height: 14px;
}

.songHolder .song button{
    height: 24px;
    width: 24px;
}

.songHolder .song button img{
    width: 100%;
    height: 100%;
}

.artists{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

.recommendedArtists{
    padding-inline: 23px;
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    padding-bottom: 130px;
    display: flex;
    gap: 24px;
    max-width: 100%;
    overflow-x: scroll;
    padding-top: 7px;
    scrollbar-width: none;
}

.recommendedArtists .artist{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.recommendedArtists .artist img{
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 2px solid white;
    outline-offset: 5px;
    filter: brightness(1.4);  
}

.recommendedArtists .artist h3{
    max-height: 15px;
    max-width: 110px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* ----- HOME ----- */

body{
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bodyBg);
    color: white;
}

.topHomeGradient{
    position: absolute;
    top: -28vh;
    left: -28vh;
    width: 50vh;
    height: 45vh;
    filter: var(--blurHomeFilter);
    z-index: -1;
    background-color: var(--accentPink);
    border-radius: 50%;
}

.discover{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

header{
    display: flex;
    gap: 10px;
    padding-inline: 15px;
    padding-block-start: 15px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header img{
    width: 28px;
    aspect-ratio: 1/1;
    filter: brightness(1.2);
}

header h1{
    color: white;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -1px;
}

.settingsButton:active{
    transition: all .35s ease;
    rotate: 90deg;
    animation: navButtonClick .2s ease;
}

@keyframes navButtonClick{
    0%{scale: 1;}
    50%{scale: .8;}
    100%{scale: 1;}
}

.featuredHolder{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-inline: auto;
    width: calc(100vw - 29px);
    justify-content: center;
    position: relative;
}

.featuredHolder > h3{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}

.buttonHolder{
    position: absolute;
    left: 0;
    top: 23px;
    height: 140px;
    align-items: center;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttonHolder button{
    position: relative;
    background-color: var(--accentBlue05);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 5px rgb(0,0,0,0.35);
    outline: 2px solid transparent;
    outline-offset: 1px;
    transition: outline .2s ease-in-out, box-shadow .2s ease-in-out, background .2s ease-in-out;
    z-index: 2;
}

.buttonHolder button img{
    width: 100%;
    aspect-ratio: 1/1;
}

.buttonHolder button:hover{
    outline-color: var(--accentBlue);
    background-color: var(--accentBlue);
    box-shadow: none;
}

/* .featuredSlider{
    width: 100%;
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 4px 0 var(--accentBlue);
    text-align: center;
    position: relative;
    overflow: hidden;
} */

.featuredSlider{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 0 var(--accentBlue);
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 1px;
    background-color: var(--accentBlue);
}

/* .featuredSlider img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
} */

.featuredSlider img{
    width: 100%;
    height: 100%;
    /* border-radius: inherit; */
    scroll-snap-align: center;
}

.featuredPlayButton{
    font-size: 11px;
    font-weight: 600;
    color: white;
    background-color: var(--accentBlue);
    padding-block: 2px;
    width: 100px;
    border-radius: 0 0 15px 15px;
    margin-inline: auto;
    margin-top: 2px;
    letter-spacing: 1px;
}

.featured{
    margin-top: 20px;
    width: 100%;
    padding-left: 15px;
}

.featured h3{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}

.playlistHolder{
    display: flex;
    gap: 14px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.playlistHolder .playlist{
    height: 200px;
}

.playlistHolder .playlist img{
    height: 162px;
    border-radius: 12px;
    width: 124px;
}

.playlistHolder .playlist h5{
    font-size: 10px;
    font-weight: 600;
}

.playlistHolder .playlist h6{
    font-size: 8px;
    font-weight: 500;
}

.miniPlayer{
    padding-inline: 8px;
    padding-block: 8px;
    padding-right: 15px;
    background-color: var(--miniPlayerColor);
    display: flex;
    margin-inline: 7px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 14px);
    max-width: calc(100% - 14px);
    top: var(--playerTop);
    border: 1px solid var(--border);
    z-index: 6;
    box-shadow: 0 80px 50px 55px var(--bodyBg);
    transition: all .3s ease;
    height: fit-content;
    transition-behavior: allow-discrete;
    @starting-style{
        transform: translateY(200%);
    }

}

.miniPlayer.hidden{
    display: none;
    transform: translateY(200%);
}

body:has(#player.start) .miniPlayer{
    transition-duration: 0s;
}

.miniPlayer div:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: var(--blurFilter);
}

.miniPlayer .songBanner{
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.miniPlayer .songInfo{
    display: flex;
    gap: 10px;
}

.miniPlayer .songInfo > div{
    height: 29px;
    max-width: 200px;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.miniPlayer .songInfo h5{
    font-size: 10px;
    font-weight: 400;
    max-height: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.miniPlayer .songInfo h3{
    font-size: 13px;
    font-weight: 500;
    max-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.miniPlayer .songButtonHolder{
    display: flex;
    gap: 15px;
    height: 26px;
}

.songButtonHolder button{
    border-radius: 50%;
    background-color: transparent;
}

.miniPlayer .songButtonHolder img{
    width: 26px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.miniPlayer #playerOpener{
    position: absolute;
    top: 0;
    left: 0;
    z-index: inherit;
    width: 77%;
    border-radius: 10px 0 0 10px;
    height: 100%;
}

#player{
    position: fixed;
    z-index: 7;
    width: 100vw;
    height: 100vh;
    background-color: var(--bodyBg);
    border-radius: 20px 20px 0 0;
    top: calc(100% - 122px);
    left: 0;
    display: none;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    transition: top .3s ease, display .1s .2s ease-in-out, opacity .1s .2s ease-in-out, border-radius .2s ease-in-out, box-shadow .2s ease-in-out, filter .3s ease-in-out;
    filter: var(--playerHueRotate);
    transition-behavior: allow-discrete;
    @starting-style{
        opacity: 1;
        top: var(--playerTop);
        filter: hue-rotate(0);
    }
}

#player.start{
    top: var(--playerTop);
    transition-duration: 0s, 0.1s, 0.1s, 0.5s, 0.2s;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
    opacity: 1;
    filter: var(--playerHueRotate);
    display: flex;
    box-shadow: 0 -2px var(--dominantColor2);
    @starting-style{
        opacity: 0;
        top: calc(100% - 122px);
        box-shadow: transparent;
        filter: hue-rotate(-30deg);
    }
}

#player.in{
    transition-duration: 0.3s, 0.1s, 0.1s, .2s;
    border-radius: 0 0 0 0;
    border-color: transparent;
    filter: var(--playerHueRotate);
    top: 0px;
    @starting-style{
        top: var(--playerTop);
        border-color: #A738FF;
        filter: var(--playerHueRotate);
    }
}

#player .topDiv{
    border-bottom: none;
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: none;
    justify-content: space-between;
}

#player .topDiv button{
    width: 34px;
    height: fit-content;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#player.in .topDiv button{
    opacity: 1;
    transition-delay: 0.2s;
}

#player .topDiv button img{
    rotate: -90deg;
    margin-inline: auto;
}

#player .topDiv > img{
    opacity: 0;
    transition: all .2s ease-in-out;
}

#player.in .topDiv > img{
    opacity: 1;
    transition-delay: 0.2s;
}

#player.start:not(.in) .topDiv button:active{
    animation: none;
}

#player .topDiv hr{
    width: 20%;
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background-color: transparent;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    transition: all .2s ease-in-out;
    transition-behavior: allow-discrete;
}

#player.start .topDiv hr{
    display: block;
    background-color: white;
}

#player.in .topDiv hr{
    display: none;
    background-color: transparent;
    transition-delay: 0.2s;
}

.playerBg{
    background-image: var(--playerBg);
    background-repeat: no-repeat;
    background-size: 150%;
    filter: brightness(0.5) blur(50px) saturate(2.5);
    background-position: center;
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200vh;
    width: 200vh;
    border-radius: 50%;
    z-index: -1;
    border-radius: inherit;
}

#player.in .playerBg{
    animation: playerBgAnimation 120s ease infinite;
}

@keyframes playerBgAnimation {
    from{transform: rotate(0);}
    to{transform: rotate(var(--playerBgDirection));}
}

#player .songInfo{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-inline: 25px;
    height: 62%;
    align-items: center;
}

#player .songInfo > img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

#player .songInfo > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#player .songInfo > div div:nth-child(2){
    display: flex;
    align-items: center;
}

#player .songInfo > div img{
    width: 36px;
    aspect-ratio: 1/1;
}

.playerSongName{
    max-width: 250px;
    width: fit-content;
    font-weight: 500;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playerSongAuthor{
    max-width: 200px;
    max-height: 16px;
    width: fit-content;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playingFrom{
    opacity: 0;
    transition: all .3s ease-in-out;
    font-size: 15px;
    font-weight: 300;
}

.playingFrom span{
    font-weight: 600;
}

#player.in .playingFrom{
    opacity: 1;
    transition-delay: 0.5s;
}

#player.in .playingFrom span{
    color: var(--dominantColor2);
}

body:has(#player.start) footer button{
    pointer-events: none;
}

.functional{
    width: 100%;
    padding-inline: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.functional input[type="range"]{
    width: 100%;
    height: 5px;
    background-color: var(--dominantColor1);
    appearance: none;
    -webkit-appearance: none;
    accent-color: var(--dominantColor2);
    filter: hue-rotate(-20deg);
    border-radius: 3px;
}

.functional > div:nth-child(4){
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.functional > div:nth-child(4) img{
    width: 42px;
    aspect-ratio: 1/1;
    background-color: var(--dominantColor1);
}

.functional > div:nth-child(4) .playButton{
    width: 68px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.functional > img{
    width: 24px;
    aspect-ratio: 1/1;
    background-color: black;
}

.functional > img:active{
    animation: navButtonClick .2s ease;
}

.functional > div img:active{
    animation: navButtonClick .2s ease;
}

.songMenuButton:active{
    animation: navButtonClick .2s ease;
}

.upperMenu{
    position: absolute;
    width: 100%;
    height: fit-content;
    padding-block-end: 40px;
    padding-block-start: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-100%);
    background-color: var(--bodyBg);
    border-radius: 0 0 30px 30px;
    z-index: 9;
    align-items: center;
    transition: transform .3s ease-in-out, display 0s .3s ease-in-out;
    transition-behavior: allow-discrete;
}

.upperMenu.in{
    transition-delay: 0s;
    transform: translateY(0);
    display: flex;
    @starting-style{
        transform: translateY(-100%);
    }
}

.upperMenu .songInfo{
    border-bottom: 1px solid var(--settingsBordersColor);
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upperMenu .songInfo h2{
    font-weight: 600;
    font-size: 22px;
    max-width: 90%;
    max-height: 27px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.upperMenu > hr{
    width: 100%;
    height: 1px;
    background-color: var(--settingsBordersColor);
}


.upperMenu .songInfo h4{
    font-weight: 500;
    font-size: 13px;
    max-width: 80%;
    max-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
}

.upperMenu > h3{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.upperMenu > h3:active{
    animation: profileClick .2s ease;
}

.upperMenuBackground{
    z-index: 8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: all .3s ease;
    transition-behavior: allow-discrete;
}

body:has(.upperMenu.in) .upperMenuBackground{
    display: block;
    backdrop-filter: blur(2px) brightness(0.5) saturate(1.1);
    @starting-style{
        backdrop-filter: none;
    }
} 

body:has(#player.in) .upperMenu .songInfo h2{
    text-shadow: -1px 1px black;
}

body:has(#player.in) .upperMenu{
    background-color: var(--dominantColor1);
    color: var(--dominantColor2);
}

body:has(#player.in) .upperMenu > h3{
    border-bottom-color: var(--dominantColor2);
    text-shadow: 1px 1px black;
}

body:has(#player.in) .upperMenu .songInfo{
    border-bottom-color: var(--dominantColor2);
}

body:has(#player.in) .upperMenu > hr{
    background-color: var(--dominantColor2);
}

.autoPlayButton{
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all .2s ease-in-out;
    font-weight: 500;
    color: var(--dominantColor1)
}

.autoPlayButton span{
    width: 21px;
    text-align: left;
}

.autoPlayButton img{
    width: 20px;
    aspect-ratio: 1/1;
    background-color: black;
}

.autoPlayButton.in{
    color: var(--dominantColor2);
    font-weight: 700;
}

footer{
    position: fixed;
    bottom: -1px;
    left: 0;
    display: flex;
    padding-block-end: 7px;
    padding-block-start: 7px;
    justify-content: space-around;
    width: 100%;
    background-color: var(--footerBg);
    z-index: 7;
    border-top: 1px solid var(--settingsBordersColor);
    transition: all .3s ease-in-out;
}

body:has(#player.start) footer{
    transform: translateY(100%);
}

footer button{
    height: 50px;
    width: 80px;
    filter: drop-shadow(0 3px 2px transparent);
    transition: filter .35s ease-in-out;
}

footer button img{
    width: 30px;
    aspect-ratio: 1/1;
}

footer button.chosen{
    pointer-events: none;
    filter: drop-shadow(0 3px 2px var(--accentBlue));
}

.homeButton:active{
    animation: navButtonClick .2s ease, homeClick .2s ease;
}

@keyframes homeClick {
    0%{}
    50%{padding-top: 7px;}
    100%{padding-top: 0;}
}

.searchButton:active{
    animation: navButtonClick .2s ease, searchClick .2s ease;
}

@keyframes searchClick {
    0%{}
    50%{rotate: -20deg;}
    100%{rotate: 20deg;}
}

.libraryButton:active{
    transition: all .2s ease-in-out;
    animation: navButtonClick .2s ease, libraryClick .2s ease;
}

@keyframes libraryClick {
    0%{}
    33%{rotate: 5deg;}
    66%{rotate: -10deg;}
    100%{rotate: 5deg;}
}

.settings{
    background-color: var(--bodyBg);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left .35s ease-in-out;
    z-index: 4;
}

.in{
    left: 0;
}

.settings img{
    width: 100px;
    aspect-ratio: 1/1;
}

body:has(.settings.in){
    overflow-y: hidden;
}

main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    transition: opacity .35s ease-in-out, transform .3s ease-in-out;
}

main.in{
    transform: translateX(0);
}

body:has(.settings.in) main{
    opacity: 0;
    transform: translateX(-40%);
    pointer-events: none;
}

.topDiv{
    padding-inline: 15px;
    padding-block: 8px;
    background-color: var(--settingsTopColor);
    backdrop-filter: var(--blurFilter);
    display: flex;
    border-bottom: 1px solid var(--settingsBordersColor);
    gap: 10px;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.topDiv h2{
    font-size: 20px;
    font-weight: 600;
}

.topDiv button{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topDiv button:active{
    animation: navButtonClick .2s ease;
}

.topDiv img{
    width: 28px;
    aspect-ratio: 1/1;
}

.settingsContent{
    margin-inline: 15px;
    padding-top: calc(env(safe-area-inset-top) + 16px);
    padding-bottom: 180px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.settings .profile{
    margin-inline: auto;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-inline: 5px;
    padding-block-end: 18px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--settingsBordersColor);
}

.settings .profile:active{
    animation: profileClick .2s ease;
}

@keyframes profileClick {
    0%{scale: 1;}
    50%{scale: .92;}
    100%{scale: 1;}
}

.settings .profile img:nth-child(1){
    width: 35px;
    border-radius: 50%;
    height: 35px;
    outline: 2px solid white;
    outline-offset: 3px;
}

.settings .profile h2{
    font-size: 20px;
    font-weight: 600;
}

.settings .profile h3{
    font-size: 12px;
    font-weight: 300;
}

.settings .profile .profileButton{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
}

.themes{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--settingsBordersColor);
}

.themes > h3{
    font-weight: 600;
    font-size: 18px;
}

.themes > div{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.theme{
    text-align: center;
}

.theme img{
    width: 85%;
    aspect-ratio: 1/2;
}

.theme h3{
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}

.theme input{
    width: 30px;
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    appearance: none;
    border: 1px solid white;
    background-color: var(--settingsBordersColor);
    display: grid;
    place-content: center;
    margin-inline: auto;
}

.theme input::after{
    content: "";
    width: 1.1em;
    height: 1.1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 15%, 75% 0, 45% 70%);
    transition: all .2s ease-in-out;
    background-color: none;
}

.theme input:checked::after{
    background-color: white;
}

.performanceMenu > div{
    padding-block: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--settingsBordersColor);
}

.performanceMenu > div:nth-child(n + 4):active{
    animation: profileClick .2s ease;
}

.performanceMenu  > div > span{
    width: 80%;
}

.performanceMenu h1{
    font-size: 20px;
    font-weight: 600;
}

.performanceMenu h5{
    font-size: 9px;
    font-weight: 400;
}

.performanceMenu input{
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: var(--settingsBordersColor);
    display: grid;
    place-content: center;
}

.performanceMenu input::after{
    content: "";
    width: 1.1em;
    height: 1.1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 15%, 75% 0, 45% 70%);
    transition: all .2s ease-in-out;
    background-color: none;
}

.performanceMenu input:checked::after{
    background-color: white;
}

.performanceMenu img{
    width: 28px;
    aspect-ratio: 1/1;
}

.performanceMenu > span{
    padding-block: 18px;
    display: block;
}

.logOutButton{
    display: block;
    margin-inline: auto;
    margin-top: 30px;
    border-radius: 8px;
    padding-inline: 25px;
    padding-block: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--accentPink);
    color: white;
    box-shadow: 0 2px 10px var(--accentPink05);
}

.search{
    position: fixed;
    width: 100%;
    top: 0;
    left: 100%;
    height: 100%;
    background-color: #100916;
    z-index: 2;
    transition: left .35s ease-in-out;
    max-height: 100vh;
    max-width: 100vw;
}

.search.in{
    left: 0;
}

body:has(.search.in){
    overflow-y: hidden;
}

body:has(.search.in) main{
    transform: translateX(-40%);
    pointer-events: none;
    opacity: 0;
}

.library{
    position: fixed;
    width: 100%;
    top: 0;
    left: 100%;
    height: 100%;
    background-color: var(--accentBlue);
    z-index: 3;
    transition: left .35s ease-in-out;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
}

.library.in{
    left: 0;
}

.library header{
    padding-inline: 0;
}

body:has(.library.in){
    overflow-y: hidden;
}

body:has(.library.in) main{
    transform: translateX(-40%);
    pointer-events: none;
    opacity: 0;
}

.searchLibrary{
    margin-top: 30px;
    width: 100%;
    height: 48px;
    background-color: var(--accentPink05);
    position: relative;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.searchLibrary div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchLibrary h2{
    font-weight: 600;
    font-size: 20px;
}

.searchLibrary button{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchLibrary img{
    width: 80%;
    height: 80%;
}

.searchLibrary input{
    display: none;
    width: 100%;
    height: 28px;
    background-color: aquamarine;
    display: none;
    opacity: 0;
    transition: all .1s ease-in-out;
    border-radius: 8px;
    margin-top: 10px;
    padding-inline: 8px;
    padding-block: 10px;
    font-size: 14px;
    font-weight: 500;
    transition-behavior: allow-discrete;
}

.searchLibrary.searching{
   height: 82px;
}

.searchLibrary.searching input{
    display: block;
    opacity: 1;
    transition-delay: .2s;
    @starting-style{
        opacity: 0;
    }
}

.out{
    left: -100%;
}

.noTransition{
    transition: none;
}

.licencesAndAttribution{
    position: fixed;
    left: 100%;
    background-color: #D196FF;
    top: 0;
    transition: left .35s ease-in-out;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.licencesAndAttribution.in{
    left: 0;
}

body:has(.licencesAndAttribution.in) .settings{
    pointer-events: none;
    overflow-y: hidden;
}

.profilePage{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left .35s ease-in-out;
    background-color: var(--bodyBg);
    z-index: 5;
}

.profilePage.in{
    left: 0;
}

body:has(.profilePage.in) .settings{
    pointer-events: none;
    overflow-y: hidden;
}

.profilePage .profileView{
    position: relative;
    margin-inline: auto;
    margin-top: calc(50% - 120px);
    border-radius: 15px;
    border: 2px solid white;
    height: fit-content;
    width: 80%;
    padding-block: 30px;
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileView > div{
    width: 100px;
    outline: 2px solid white;
    border-radius: 50%;
    outline-offset: 5px;
    height: 100px;
    transition: width .2s ease-in-out, border-radius .2s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 8px;
    overflow: hidden;
    pointer-events: none;
}
.profileView > div img:nth-child(1){
    transition: opacity .1s ease-in-out, display .1s ease-in-out;
    transition-delay: 0.2s, 0.2s;
    width: 100%;
    aspect-ratio: 1/1;
    opacity: 1;
    transition-behavior: allow-discrete;
    @starting-style{
        opacity: 0;
    }
}

.profileView > div.in{
    border-radius: 5px;
    width: 260px;
    background-color: black;
    transition-delay: .1s, 0s;
    pointer-events: all;
}

.profileView > div.in img:nth-child(1){
    opacity: 0;
    display: none;
    transition-delay: 0s, 0s;
    @starting-style{
        opacity: 1;
    }
}

.profileView > div img:nth-child(n + 2){
    width: 40px;
    aspect-ratio: 1/1;
    opacity: 0;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    animation: profileImagesRemove .3s ease-in-out forwards;
    border-radius: 50%;
}

.profileView > div.in img:nth-child(n + 2){
    transition: all .1s ease-in-out;
    animation: profileImagesLoad .3s .1s ease-in-out forwards;
}

@keyframes profileImagesLoad {
    0%{opacity: 0;}
    66%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes profileImagesRemove {
    0%{opacity: 1;}
    10%{opacity: 0;}
    100%{opacity: 0;}
}

.profileView > div.in img.chosen{
    outline: 1px solid var(--accentBlue);
    outline-offset: 2px;
}

.profileView > span{
    margin-top: 30px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileView .profileUsername{
    font-size: 22px;
    font-weight: 600;
    color: white;
    pointer-events: none;
    transition: all .2s ease-in-out;
    width: 90%;
    border-radius: 8px;
    padding-block: 4px;
    padding-inline: 10px;
    text-align: center;
    border: 1px solid transparent;
}

.profileView .profileUsername.in{
    border-color: white;
    pointer-events: all;
}

.profileView .profileEmail{
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.saveProfileChanges{
    background-color: white;
    color:black;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    padding-block: 14px;
    padding-inline: 100px;
    margin-top: 30px;
}

.cancelProfileChanges{
    background-color: white;
    color: red;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    padding-block: 12px;
    padding-inline: 60px;
    margin-top: 5px;
}

.profileView button{
    transition: all .2s ease-in-out;
    background-color: white;
}

.profileView button:disabled{
    background-color: rgb(190,190,200);
}

.editProfileButton{
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 7px 12px 7px 7px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: -2px;
}