body{
    background-image: url('../images/Normal_background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    overflow: hidden;
}

.middlePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middlePage h1{
    text-transform: uppercase;
    font-weight: 500;
}

.middlePage img{
    width: 100%;
    margin-top: -12.5%;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    padding: 35px;
    padding-bottom: 20px;
    gap: 15px;
}

.buttonBox .accentButton{
    padding-block: 20px;
}